<!DOCTYPE html>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Smokey's Detector</title>
        <link rel="stylesheet"
              href="https://fonts.googleapis.com/css?family=Roboto:700,|Google+Sans:400,500&amp;lang=en&amp;display=swap">
        <!--         <link rel="stylesheet" href="style.css"> -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div id="title-card">
            <span id="logo"></span>
            <div>
                <h1 style="margin-bottom: 0;">Smokey's Detector & Alarm</h1>
                <h2 style="margin-top: 0;">Preventing fires before they happen</h2>
            </div>
        </div>

        <div id="canvas-container">
            <canvas id="weather-chart"></canvas>
        </div>

        <h1 id="alarm-text" hidden>🚨 ALARM IS ON!!!</h1>

        <p><b>Temperature Statistics:</b> <span id="avg_temp"></span> avg / <span id="min_temp"></span> min / <span
                id="max_temp"></span> max</p>
        <p><b>Gas Level Statistics: </b> <span id="avg_hum"></span> avg / <span id="min_hum"></span> min / <span
                id="max_hum"></span> max</p>

        <div id="footer">
            <div>
                <label>
                    Showing
                    <input type="number" id="datapoint-count" value="20"/>
                    latest datapoints (0 to show all)
                </label>
                <p>Last refresh at <span id="last_refresh_time"></span></p>
            </div>
            <div id="button-column">
                <button onclick="clearHistory()" id="clear-button">Clear History</button>
                <div style="height: 5px"></div>
                <button onclick="turnOnAlarm()" id="alarm-on-button">Turn On Alarm</button>
                <button onclick="turnOffAlarm()" id="alarm-off-button" hidden>Turn Off Alarm</button>
                <div style="height: 5px"></div>
            </div>
        </div>


        <script src="{{ url_for('static', filename='script.js') }}"></script>
    </body>
</html>